body{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    background-color:  #637be9;
    height: 100px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-body{
    /*margin: 20 20 20 20;*/
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 75%;
}
footer{
    display: flex;
    background-color: rgb(39, 39, 39);
    color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    bottom: 0;

}

hr{
    height: 30px;
    background:  #637be9;
    margin: 1px 0;
    margin-right: 5px;
    box-shadow: 10px 10px 30px #ffffff;
}

.linha{
    height: 2px;
    width: 70%;
    background:  rgb(39, 39, 39);
    margin: 0 0 10 0;
    box-shadow: 10px 10px 30px #ffffff;
}
ul{
    margin: 0 0 0 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;


}
ul li{
    width: 150px;
    height: 100px;
    margin-right: 20px;

}

.name_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.text-search-still{
    margin: 0 10 0 0;
    color: rgb(39, 39, 39);
}
.text-search{
    display: flex;
    flex-direction: row;
    border: 1px solid #637be9;
    border-radius: 10px;
    margin: 0 0 0 0;
    padding: 0 0 0 5;
    background-color: #637be9;
    font-size: large;
    color: white;
}
.text-search a{
    margin: 0 10 0 5;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
}

li#search svg{
    width: 30%;
    height: 30%;
}

#logo{
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 40px;
}

#logo svg{
    border-radius: 50px;
    position: relative;
    margin-top: 1px;
}

/*-----------end style main -------*/


/* ------- user camp ----*/
li#user{
    width: 140px;

}

li#exit{
    display: flex;
    justify-content: center;
    align-items: center;

}

li p{
    width: auto;
    font-size: large;
    white-space: nowrap;
}
a{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    color: black;

}

.form-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message{
    background-color: #04EDDA;
    color: #000000;
    border: 1px solid #c3e6c8;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 10px;
}
.messageErr{
    background-color: #bd0d0d;
    color: #000000;
    border: 1px solid #c3e6c8;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 10px;
}

/* -- create event --*/

li#calendar{

    width: 180px;
}

.font-titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    float: left;
    margin-bottom: 5px;
    height: auto;
    font-weight: bold;
    }
.home-page{

    width: 100%;
    height: 100%;
    text-align: center;

}
.component-search{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    align-items: center;
    height: 50%;
    padding: 20px;
    height: min-content;
    margin: 0 0 0 0;

}

form#form-home-page {
    display: flex;
    flex-direction: row;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: 10%;

    text-align: center;
}

form#form-home-page-header{
    display: flex;
    flex-direction: row;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    width: 500px;
    height: 100%;
    margin: 0 0 0 0;
}

input#search-home-page{
    border: 3px solid white;
    border-radius:  36px;
    margin-right: 10px;
    width: 95%;
    height: 40px;
}

.search-button{
    width: auto;
    height: auto;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.campo-search{
    width: 500px;
}

.name_search{
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.title-list-event{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    height: 70;
    white-space: nowrap;
}
.eventos-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.eventos-title::before,
.eventos-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1000px;
    width: 80%;
    height: 3px;
    background-color: rgb(39, 39, 39);
    transform: translateY(-50%);
}

.eventos-title::before {
    left: -85%;
}

.eventos-title::after {
    right: -85%;
}


/*----Responsividade----*/

@media (min-width: 1920px) {
    #logo{
        width: 110px;
        height: 110px;
        float: left;
        margin-left: 20px;

    }
    footer{
        height: 200px;
    }
    .main{
        margin-bottom:195px ;
    }
}

